body {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    background-color: #FFF4E2;
}

a:link {
    color: #080914;
    text-decoration: none;
    margin-bottom: 10px;
}

a:visited {
    color: #080914;
}

a:hover {
    color: #D36008;
}

a:active {
    color: #D36008;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: #D36008;
}

h1 {
    font-family: "Bodoni 72 Smallcaps", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #080914;
    letter-spacing: 0.01em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: "Bodoni 72 Smallcaps", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #080914;
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {
    font-family: Inria Serif, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    color: #080914;
}

h4 {
    font-family: "Bodoni 72 Smallcaps", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #080914;
    margin-top: 5px;
    margin-bottom: 20px;
}

.highlight-green {
    color: #4C8A14;
}

.article-list {
    list-style: none;
    padding: 10;
}

.article-list li {
    margin-bottom: 10px;
}

.article-list li a {
    margin-bottom: 10px;
    color: #080914;
    text-decoration: none;
}

.article-list li a:hover {
    color: #D36008;
}