body {
    font-family: 'Sen', sans-serif;
}

.logo a {
    text-decoration: none;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: #D36008;
}

